@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Source+Sans+3&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

:root {
    --backgroundDark: #a6a29d;
    --backgroundLight: #fff;
    --mainDark:#8c0000;
    --mainLight: #f7bd03;
    --fontColor: #000;
    --mainFont: "Source Sans 3", Calibri, sans-serif;
    --headerFont: "Protest Strike", Calibri, sans-serif;
    --backgroundGradiant: linear-gradient(45deg, var(--mainLight), var(--mainDark));
    --pageGradient: linear-gradient(20deg, var(--backgroundDark), var(--backgroundLight)) no-repeat;
}

*{
    box-sizing: border-box;
}

body {
    font-family: var(--mainFont);
    background: var(--pageGradient);
    margin: 0;
}

#topBar {
    font-family: var(--mainFont);
    padding: 2rem;
    padding-left: 5rem;
    background: var(--backgroundGradiant);
}

#topBar h1 {
    font-family: var(--headerFont);
    font-size: 22vi;
    margin-inline-end: 250px;
    border: none;
    transition: all 0.5s ease-in-out;
}

#topBar h2 {
    font-size: 30px;
}

#topBar img {
    width: 200px;
    height: auto;
}

.bestSeller img{
    width: 100%;
    height: auto;
    border: none;
}

.bestSeller h1 {
    border: none;
}

a {
    text-decoration: none;
    color: var(--fontColor); 
    padding: 5px;
    border: 1px solid var(--fontColor);
    border-radius: 3px;
}

a:hover {
    font-weight: bolder;
    border: 2px solid var(--fontColor);
}

li {
    margin-inline-end: 30px;
    list-style: none;
    display: block;
    margin-block: 25px;
    font-weight: bold;
}

ul {
    padding-left: 0;
}

.end {
    font-family: var(--mainFont);
    padding: 0.5rem;
    padding-left: 5rem;
    background: linear-gradient(45deg, var(--mainLight), var(--mainDark));
}

.end img {
    width: 75%;
    height: auto;
}

main {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 2rem;
}

h1 {
    font-family: var(--headerFont);
    font-size: 2.75rem;
    margin-bottom: 0;
    border-block-end: 2px solid var(--fontColor);
}

.bestSeller, .whoWeAre, .whatWeOffer {
    margin-block-end: 50px;
    border-block-end: 2px solid var(--fontColor);
}

#models { /*this is for the dropdown for more info*/

    input[type='checkbox'] {
        display: none;
      }

.lbl-toggle {
    display: block;
    border: 1px solid var(--fontColor);
  
    font-weight: bold;
    font-family: var(--mainFont);
    font-size: 0.96rem;
    text-transform: uppercase;
    text-align: center;
  
    padding: 5px;
  
    cursor: pointer;
  
    border-radius: 7px;
    transition: all 0.25s ease-out;
  }

  .lbl-toggle::before {
    content: ' ';
    display: inline-block;
  
    border-block: 5px solid transparent;
    border-inline-start: 5px solid currentColor;
  
    vertical-align: middle;
    margin-inline-end: .7rem;
    transform: translateY(-2px);
  
    transition: transform .2s ease-out;
  }

  .collapsible-content .content-inner {
    background: white;
    border-radius: 4px;
    padding: .5rem 1rem;

    p {
        margin: 0;
    }
  }

  .collapsible-content {
    max-height: 0px;
    overflow: hidden;
  
    transition: max-height .5s ease-in-out;
  }

  .toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 100vh;
  }
  .toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
  }
  
  .lbl-toggle:hover {
    border: 2px solid var(--fontColor);
    background-color: var(--backgroundDark);
  }
}

#models { /*all the normal styling for the models id*/
    .infoGuitar{
        margin-block:10px;
        padding-block-end: 10px;
        border-block-end: 2px solid var(--fontColor)
    }

    div img{
        width: 100%;
        height: auto;
        margin-block-start: 10px;
        border-radius: 7px;
    }

    .store {
        display: block;
        border: 1px solid var(--fontColor);
        border-radius: 7px;
      
        font-weight: bold;
        font-family: var(--mainFont);
        font-size: 0.96rem;
        text-transform: uppercase;
        text-align: center;
        margin-block-start: 5px;
        padding: 6px;
    }

    .store:hover{
        background-color: var(--backgroundDark);
        border: 2px solid var(--fontColor);
    }

    h3 {
        margin: 0;
    }
}

#aboutUs {
    section {
        border-block-end: 1px solid var(--fontColor);
    }

    li {
        font-weight: normal;
    }
}

#techUsed {
    border-block-end: 1px solid var(--fontColor);
}

#services {
    section {
        border-block-end: 1px solid var(--fontColor);
    }

}

.imageSource {
    h4 {
        font-weight: bold;
    }

    h5 {
        font-weight: lighter;
    }

    h5 a {
        border: none;
        text-decoration: underline;
    }
}

#contactUs {
    

    form {
        display: grid;
        grid-template-rows: 1fr;
        border: 1px solid var(--fontColor);
        border-radius: 7px;
        padding: 2px;
        margin-block-start: 10px;
    }
    #name, #mail, #msg, .buttons {
        font-family: var(--mainFont);
    }
}

@media (min-width:768px) {
    #topBar img{
        float: inline-end;
        height: 150px;
        width: auto;
    }

    li {
        display: inline-block;
    }

    .end img {
        width: auto;
        height: auto;
    }

    #topBar h1 {
        font-size: 100px;
    }

    .bestSeller img {
        float: inline-start;
        width: 15vi;
        height: auto;
        margin-inline-end: 15px;
        margin-block-end: 15px;
    }

    #models {
        h1 {
            font-size: 3rem;
        }

        h3 {
            font-size: 1.75rem;
        }

        .infoGuitar {
            margin: 25px;;
        }

        section {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}